#root {
   height: 100vh;
   width: 100vw;
}

body {
   height: 100vh;
   width: 100vw;
   overflow: hidden;
   background-color: "rgb(100, 27, 22)";
   scrollbar-width: "thin";
   margin: 0;
   padding: 0;
}

.turn-order-image {
   width: 100%;
}

img {
   width: 100%;
}

canvas {
   position: relative;
}
