#root {
   height: 100vh;
   width: 100vw;
}

body {
   height: 100vh;
   width: 100vw;
   overflow: hidden;
}

.turn-order-image {
   width: 100%;
}

img {
   width: 100%;
}

canvas {
   position: relative;
}
